.bg-body-primary {
    background-color: #006D77;
}

.navbar-brand {
    font-family: "Aleo", serif;
    font-weight: 300;
    font-size: 40px;
}

.nav-link {
    font-family: 'Aleo', sans-serif;
    font-size: 25px;
    min-width: 10%;
    color:white;
}

#logo{
    background-color: #006D77;
    height: 50px;
    width: 100%;
    align-content: center;
}

#loginLink{
    border-radius: 10px;
    font-size: 20px;
    background-color: #2E294E;
    padding: 0px 5px 0px 5px;
    font-family: 'Aleo', sans-serif;
    float: right;
}

/*manage Account style*/
/* Manage Account Style */
.default-avatar, .avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; /* Ensures the image/avatar is circular */
}

.default-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #777; /* Example background color */
    color: white; /* Font color for the initials */
    border-radius: 50%; /* Ensures the default avatar is circular */
}

.profile-pic-label {
    position: relative; /* This is necessary for absolute positioning of children */
    display: inline-block; /* Adjust as necessary to fit your layout */
    border-radius: 50%; /* Ensures the container is circular */
    overflow: hidden; /* Prevents children from overflowing the circular boundary */
    width: 150px; /* Match child size */
    height: 150px; /* Match child size */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensures overlay covers the avatar/default-avatar */
    height: 100%; /* Ensures overlay covers the avatar/default-avatar */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: none; /* Change to 'none' to hide it by default */
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Maintains the circular shape */
}

.profile-pic-label:hover .overlay {
    display: flex; /* Show the overlay on hover */

}
.header-subtitle-line {
    display: block;
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin: 0 auto 1rem; /* Centers the image and provides space below */
}

.subtitle-position {
    position: relative;
    top: -20px; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    color: #FFD700;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .subtitle-position {
        top: -40px; /* Adjust as needed for larger screens */
        left: 200px; /* Adjust as needed for larger screens */
    }
}
.opening-hours-container {
    /* other styles */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    /* This will place the top edge of the element in the middle of the container,
       and then shift it up by half its own height to center it vertically. */
}
