.header {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Aleo', sans-serif;
}
h1{
    margin-top: 50px;
    font-family: 'Aleo', sans-serif;
}

.container.subsection{
    display: none;
}

#photo-col {
    display:none;
    width:100%;
    margin-top:20%;
}

#photo-col img{
    max-width: 100%;
    margin: 0;
    height: auto;
}

.crossNavigation{
    background: linear-gradient(180deg, #006D77 0%, rgba(0, 109, 119, 0.594792) 99.99%, rgba(0, 109, 119, 0) 100%);
    max-width: 100%;
    color: white;
}
.crossNavigation h1{
    padding-top: 5%;
    padding-left: 5%;
    font-family: 'Aleo', sans-serif;
}
.crossNavigation h4{
    padding-left: 5%;
    font-family: 'Aleo', sans-serif;
}
.carousel{
    width: 80%;
    margin: auto;
}

.card{
    color: white;
    border: none;
    margin: 5% 0;
}
.row{
    width: 100%;
    margin: 0;
}
#map {
    margin-top: 15%;
    height: 400px;
    width: 95%;
}

.header header-img {
    max-width:100%;
}

.header header-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    /* Adjust the layout for mobile devices */
    .col-8 {
        width: 100%;
        margin: auto;
    }
    .col-4 {
        width: 100%;
        margin: auto;
    }
    .row {
        display: block;
    }
    #map {
        height: 250px;
        width: 80%;
        margin: 5% auto;
    }
    #photo-col img{
        display:none;
        width:100%;
        margin-top:20%;
    }

    .header-img:not(:first-child) {
        display: none;
    }
}

@media (min-width: 1913px) {
    .row{
        width: 60%;
        margin: 0 auto;
    }
}