body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("../img/haarlem.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.7); /* slight background color for readability */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 500px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginImage {
  width: 100%;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff; /* primary color */
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3; /* darker shade of primary color on hover */
}

.register-btn {
  background: none;
  border: none;
  color: #007bff; /* primary color */
  cursor: pointer;
}

.register-btn:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #007bff; /* primary color */
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}