body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #006D77;
}
.container {
  display: flex;
  height: 100vh;
  align-items: center;
}
.login-form {
  background-color: #fff; /* Background color for the form */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  max-width: 400px;
  width: 50%;
}

.form-group {
  margin-bottom: 20px;
}
.form-label {
  font-weight: bold;
}
.form-control {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.submit-btn {
  background-color: #477dd0;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-btn:hover, .register-btn:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
  color: #fff;
}

#loginImage {
  width: 60%;
  height: 80%;
}
.login-container {
  width: 30%;
  padding: 0 100px;
}
h1 {
  color: #ffffff;
}

.register-form{
margin: 20px 0;
}
.register-btn{
  cursor: pointer;
}
@media(max-width: 768px) {
  .container {
    flex-direction: column;
  }
  #loginImage {
    width: 100%;
  }
  .login-container {
    width: 100%;
  }
}

